{% extends "base.html" %}
{% block title %}
Категории специалистов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <a href="/">назад</a>

    <h1>Специалисты</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            {{item.specialist_category}} <span>Количество специалистов: {{item.specialist_count()}}</span>
        </li>
        {% endfor %}
    </ul>

	<div>
		<li><a href="/appointment-list/">Список записей</a></li>
		<li><a href="/create-category/?id={{id}}">Создать новую категорию</a></li>
	</div>
{% endblock %}